/* Resetting some browser defaults */
* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif; /* Google font */
}

body {
    background-color: #55f;  /* light purple */
    color: #333;
    line-height: 1.6;
}

header {
    margin: 0 0 0 0;
    padding: 40px 10px 10px 10px;
    color: #fff;
    text-align: right;
    background: linear-gradient(to right, #55f, darksalmon, #55f);
    color: white;
}

a {
    text-decoration: none;
    color: #55f;
}

.info {
    margin: 0 0 0 0;
    padding: 50px 30px 0 50px;
    max-width: auto;
    height: 100%;
    background: #dfe0df;  /* mint green */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center; /* or 'center' if you want the content to be vertically centered */
    gap: 20px; /* provides a gap between the columns */
    flex-wrap: wrap; /* Allow wrapping of items */
}

.column {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    flex: 1; /* Allow columns to take up equal space */
}

h2 {
    border-bottom: 3px solid #6b3d87;  /* dark purple */
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 500;
}

p {
    margin-bottom: 20px;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
    position: bottom;
    opacity: 0.7;
}

footer {
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    position: absolute;
    width: 100vw;
    color: #c5c5c5;
}
sub{
    font-size: x-small;
    color: #333;
}
/* Default styles for desktop and larger screens */

@media only screen and (max-width: 1024px) {
    /* Styles for tablets */
}

@media only screen and (max-width: 768px) {
    /* Styles for smaller tablets and larger phones */
}

@media only screen and (max-width: 480px) {
    /* Styles for smartphones */
}
@media only screen and (max-width: 768px) { /* Adjust this breakpoint as needed */
    .column {
        min-width: 100%; /* On smaller screens, columns take full width and stack */
    }
}