/* Resetting some browser defaults */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;  
}

body {
    background-color: #ece9f1;  /* light purple */
    color: #333;
    line-height: 1.6;

}

header {
    background-color: #6b3d87;  /* dark purple */
    color: #fff;
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(to bottom right, #4b0082, #00b894);
    color: white;
}

a {
    text-decoration: none;
}

.info {
    background: #dfe0df;  /* mint green */
    margin: 0 0 0 0;
    padding: 50px 30px 20px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center; /* or 'center' if you want the content to be vertically centered */
    gap: 10px; /* provides a gap between the columns */
}

.column {
    margin: 0 0 0 0;
    flex: 1; /* each column will take up equal width */
}

h2 {
    border-bottom: 3px solid #6b3d87;  /* dark purple */
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 500;
}

p {
    margin-bottom: 20px;
    font-weight: 300;
}

footer {
    text-align: center;
    width: 100vw;
    margin: 0 0 0 0;
}

